---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={Astro.generator} />
    <title>Linh Phan Consulting</title>
  </head>
  <body class="bg-cream">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    height: 100%;
  }
</style>
